body {
  margin: 10px;background-image: url(https://images.unsplash.com/photo-1563455586-98caa7512fa8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80);
  background-attachment: scroll; background-repeat: no-repeat; background-size: 100%;
}
/*container sa home*/
.homewrap {
  text-align:center;
}
.homecontain {
  margin-top:50px;
  width: 1000px;
  background-color: white;
  float:center;
  display:inline-block;
  padding: 40px;
}
/*container sa home*/

a {
  text-decoration: none; color: black;
}
.ho {
  font-size: 18px;
  transition: font-size 0.3s;
}
.ho:hover {
  color:white;font-size: 20px;
}
.nav {
  text-align: right; background-color: white; position: sticky; top:0; padding: 10px; margin: -10px;opacity: 0.8;
}
li {
  display: inline; padding: 10px 30px 10px 30px; font-family: 'Roboto', sans-serif;
}
li:hover{
    background-color: #0a74a1;padding: 15px 30px 15px 30px;
}
.inside {
  margin-top: 30px;
}
/*for the answers*/
.insidewho, .insidewhoami, .insidewhy, .insidewherefrom, .insidewherebe {
  opacity:0; margin: -50px 230px 5px 230px; position: relative; text-align: center;padding:20px; transition: opacity 0.5s;
}
.insidewho:hover, .insidewhoami:hover, .insidewhy:hover, .insidewherefrom:hover, .insidewherebe:hover {
  opacity: 100;
}
/*for the container*/

.why, .wherebe {
  margin-top: 600px;
  text-align: right;
}
.why, .wherebe, .whoami, .wherefrom, .who {
  margin-top: 600px;
  padding: 40px; color:black; transition: opacity 0.3s;
}

.whoami:hover, .wherefrom:hover, .why:hover, .wherebe:hover, .who:hover {
  background: url(https://images.unsplash.com/photo-1564951405282-6e79578207c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  color: white;
}
h1 {
  font-family: helvetica; color: #ffa14f; font-size: 70px; text-align: center; margin: 30px 0px 0px 0px;
  transition: 1s;
}
h3 {
  font-family: helvetica; font-size: 30px; text-align: center; margin: 0px 0px 0px 50px;
}
h4 {
  font-family: helvetica; font-size: 20px; margin: 20px 0px 20px 0px;
}
h5 {
  font-size: 40px; margin: 0px; color:#ffa14f; font-family: helvetica;
}
p {
  font-family: 'Roboto', sans-serif;
}

.port {
  text-decoration-color: black; transition: 0.5s; text-decoration: none; background-position: center;
}
.port:hover {
  color:#ffa14f; font-size: 40px; transition: 0.3s;
}
.con1 {
  background-color: #0a74a1; padding: 40px; color:white;height:100%;
}
.con1:hover{
  color:#ffa14f;
}
.containerabout {
  text-align: center;
  margin-top:150px;
  position: absolute;
  background: url(https://images.unsplash.com/flagged/photo-1567934150921-7632371abb32?ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80);
  background-size: 80%;
  padding: 120px 370px 120px 40px;
  color: white;
}
th {
  height: 100;
  padding:10px;
}
td {
  text-align: center;
  padding: 10px;
}
.profile {
  height: 100px;
  width: 100px;
  border-radius:50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.containerall{
  margin-top:-60px;
}

.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  float: right;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}


#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
.labs {
  padding: 20px;
  background-color: #ffa14f;
  margin:0px;
}
.labs2 {
  padding: inherit;
  font-family: helvetica;
  color: white;
  text-decoration: underline;
  transition: color, font-size 0.2s;
}
.labs2:hover {
  font-size: 20px;
  color: #0a74a1;
}
.lablisttable{
  margin: 0 auto;
  width: 70%;
}
.lablisttablecont{
  text-align: center;
  margin-top:90px;
}
.learningcontractbody{
  text-align: center;
  margin-top:90px;
}
.lclist{
  display: block;
  text-align:center;
}
